.App {
  text-align: center;
}

.k-accordion .k-accordion-wrapper {
  margin: 18px 0
}

.k-accordion .k-accordion-wrapper .k-accordion-button {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  padding-left: 18px;
  width: 100%;
  height: 45px;
  border: .5px solid #cdcdcd;
  border-radius: 4px;
  text-align: left;
  outline: none;
  font-size: 21px;
  font-weight: 700;
  transition: .4s;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.k-accordion .k-accordion-wrapper .k-accordion-button .k-accordion-label {
  max-width: 90%
}

.k-accordion .k-accordion-wrapper .k-accordion-button i {
  margin-right: 10px;
  z-index: 0
}

.k-accordion .k-accordion-wrapper .k-accordion-button i:before {
  font-size: 15px
}

.k-accordion .k-accordion-wrapper .k-accordion-button .icon-open-accordion {
  transition: transform .3s
}

.k-accordion .k-accordion-wrapper .k-accordion-button:focus {
  border-radius: 4px 4px 0 0
}

.k-accordion .k-accordion-wrapper .k-accordion-open .icon-open-accordion {
  transform: rotate(180deg)
}

.k-accordion .k-accordion-wrapper .k-accordion-button {
  height: 55px;
  padding-top: 0;
  padding-bottom: 0
}

.k-accordion .k-accordion-wrapper .k-accordion-content {
  background-color: #fff;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all .3s ease-out;
  border-radius: 0 0 4px 4px
}

.k-accordion .k-accordion-wrapper .k-accordion-content>* {
  padding: 18px
}

.k-accordion .k-accordion-wrapper .k-accordion-show {
  border: .5px solid #cdcdcd;
  border-top-width: 0;
  height: auto;
  opacity: 1;
}

.k-accordion .k-accordion-wrapper .k-accordion-hidden {
  max-height: 0
}

.row {
  display: flex;
  justify-content: space-around;
}